src/main/resources/wsdl/ScoreManage.wsdl

<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://jw.nju.edu.cn/wsdl"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:jw="http://jw.nju.edu.cn/schema"
        targetNamespace="http://jw.nju.edu.cn/wsdl">

    <wsdl:documentation>
        本WSDL 1.1文档描述了学生成绩管理web服务的相关组件定义。
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import schemaLocation="../xsd/ScoreList.xsd" namespace="http://jw.nju.edu.cn/schema"/>
            <xsd:import schemaLocation="../xsd/Fault.xsd" namespace="http://jw.nju.edu.cn/schema"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="queryGrade">
        <wsdl:documentation>成绩查询参数</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:学号"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryGradeResponse">
        <wsdl:documentation>成绩查询返回</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程成绩列表"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="modifyGrade">
        <wsdl:documentation>成绩修改参数</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程成绩"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="modifyGradeResponse">
        <wsdl:documentation>成绩修改返回</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程成绩列表"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="addGrade">
        <wsdl:documentation>成绩新增参数</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程成绩列表"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addGradeResponse">
        <wsdl:documentation>成绩新增返回</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程成绩列表"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="deleteGrade">
        <wsdl:documentation>成绩注销参数</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:学号课程号"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteGradeResponse">
        <wsdl:documentation>成绩注销返回</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程成绩列表"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="sortGrade">
        <wsdl:documentation>成绩排序参数</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:排序"></wsdl:part>
    </wsdl:message>

    <wsdl:message name="sortGradeResponse">
        <wsdl:documentation>成绩排序返回</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程成绩列表"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="invalidStudentId">
        <wsdl:documentation>学号错误</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:学号错误"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="invalidCourseId">
        <wsdl:documentation>课程编号错误</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:课程编号错误"></wsdl:part>
    </wsdl:message>
    
    <wsdl:message name="invalidScore">
        <wsdl:documentation>分数错误</wsdl:documentation>
        <wsdl:part name="parameters" element="jw:分数错误"></wsdl:part>
    </wsdl:message>

    <wsdl:portType name="ScoreManageService">
        <wsdl:operation name="queryGrade">
            <wsdl:documentation>成绩查询操作</wsdl:documentation>
            <wsdl:input message="tns:queryGrade" name="queryGrade"></wsdl:input>
            <wsdl:output message="tns:queryGradeResponse" name="queryGradeResponse"></wsdl:output>
            <wsdl:fault name="InvalidStudentId" message="tns:invalidStudentId"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modifyGrade">
            <wsdl:documentation>成绩修改操作</wsdl:documentation>
            <wsdl:input message="tns:modifyGrade" name="modifyGrade"></wsdl:input>
            <wsdl:output message="tns:modifyGradeResponse" name="modifyGradeResponse"></wsdl:output>
            <wsdl:fault name="InvalidStudentId" message="tns:invalidStudentId"></wsdl:fault>
            <wsdl:fault name="InvalidCourseId" message="tns:invalidCourseId"></wsdl:fault>
            <wsdl:fault name="InvalidScore" message="tns:invalidScore"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="addGrade">
            <wsdl:documentation>成绩新增操作</wsdl:documentation>
            <wsdl:input message="tns:addGrade" name="addGrade"></wsdl:input>
            <wsdl:output message="tns:addGradeResponse" name="addGradeResponse"></wsdl:output>
            <wsdl:fault name="InvalidStudentId" message="tns:invalidStudentId"></wsdl:fault>
            <wsdl:fault name="InvalidCourseId" message="tns:invalidCourseId"></wsdl:fault>
            <wsdl:fault name="InvalidScore" message="tns:invalidScore"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="deleteGrade">
            <wsdl:documentation>成绩注销操作</wsdl:documentation>
            <wsdl:input message="tns:deleteGrade" name="deleteGrade"></wsdl:input>
            <wsdl:output message="tns:deleteGradeResponse" name="deleteGradeResponse"></wsdl:output>
            <wsdl:fault name="InvalidStudentId" message="tns:invalidStudentId"></wsdl:fault>
            <wsdl:fault name="InvalidCourseId" message="tns:invalidCourseId"></wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="sortGrade">
            <wsdl:documentation>成绩排序操作</wsdl:documentation>
            <wsdl:input message="tns:sortGrade" name="sortGrade"></wsdl:input>
            <wsdl:output message="tns:sortGradeResponse" name="sortGradeResponse"></wsdl:output>
            <wsdl:fault name="InvalidStudentId" message="tns:invalidStudentId"></wsdl:fault>
            <wsdl:fault name="InvalidCourseId" message="tns:invalidCourseId"></wsdl:fault>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="ScoreManageServiceSoapBinding" type="tns:ScoreManageService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="queryGrade">
            <wsdl:documentation>成绩新增操作绑定细节</wsdl:documentation>
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryGrade">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryGradeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidStudentId">
                <soap:fault name="InvalidStudentId" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="modifyGrade">
            <wsdl:documentation>成绩修改操作绑定细节</wsdl:documentation>
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="modifyGrade">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="modifyGradeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidStudentId">
                <soap:fault name="InvalidStudentId" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCourseId">
                <soap:fault name="InvalidCourseId" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidScore">
                <soap:fault name="InvalidScore" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="addGrade">
            <wsdl:documentation>成绩新增操作绑定细节</wsdl:documentation>
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="addGrade">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addGradeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidStudentId">
                <soap:fault name="InvalidStudentId" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCourseId">
                <soap:fault name="InvalidCourseId" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidScore">
                <soap:fault name="InvalidScore" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="deleteGrade">
            <wsdl:documentation>成绩注销操作绑定细节</wsdl:documentation>
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="deleteGrade">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteGradeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="InvalidStudentId">
                <soap:fault name="InvalidStudentId" use="literal"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidCourseId">
                <soap:fault name="InvalidCourseId" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

        <wsdl:operation name="sortGrade">
            <wsdl:documentation>成绩排序操作绑定细节</wsdl:documentation>
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sortGrade">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sortGradeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ScoreManageService">
        <wsdl:port name="ScoreManageServiceImplPort" binding="tns:ScoreManageServiceSoapBinding">
            <soap:address location="http://localhost:8080/cxf/scoreManageService"/>
        </wsdl:port>
    </wsdl:service>
    

</wsdl:definitions>
